body {
    font-family: Roboto, Arial, sans-serif;
}

input, div {
     margin: 6px 0;
}

#newImage {
    height: 200px;
    width: 300px;
    background-size: contain;

}

.cutDetails {
    height: 20px;
}